+title("Invictus - Poem")
.header.full
  p Invictus - Poem
.row
  .col-sm-6
    .text-poem
      div Out of the night that covers me,
      div Black as the pit from pole to pole,
      div I thank whatever gods may be
      div For my unconquerable soul.
      .sequence 
      div In the fell clutch of circumstance
      div I have not winced nor cried aloud.
      div Under the bludgeonings of chance
      div My head is bloody, but unbowed.
      .sequence 
      div Beyond this place of wrath and tears
      div Looms but the Horror of the shade,
      div And yet the menace of the years
      div Finds, and shall find me, unafraid.
      .sequence 
      div It matters not how strait the gate,
      div How charged with punishments the scroll,
      div I am the master of my fate:
      div I am the captain of my soul. 
        +footnote("Henley, William Ernest (1888). A book of verses. London: D. Nutt. pp. 56–57. OCLC 13897970")
  .col-sm-6
    +img("img/William_Ernest_Henley_Vanity_Fair.jpg")
    .small-text 
      em Portrait of William Ernest Henley by Leslie Ward published in Vanity Fair 26 November 

.video
  iframe(src="https://www.youtube.com/embed/9oIKqeZWjis?start=65&rel=0", frameborder="0", allowfullscreen)

+exercise({name: 'invictus'})
  h3 
    strong Test your knowledge
  .progress-box
  +textline({name: 'invictus_1', type: 'text', max: 50,
      size: 25, regexp: /^\s*William Ernest Henley\s*$/,
    })
    +statement
      | 1. "Invictus" is a short Victorian poem by the English poet 
      span.input
      span.is-done-box
  +crosswords({
    name: 'invictus0_1',
    hideNumbers: false,
    ignoreAvatar: false,
    words: ['  _  _  _  2B  _  _  _ 5C _  _  _',
            '  _  _  _  L   _  _  _ R _  _  _',
            '  _  _  1C A  3P 4T A  I  6N _  _',
            '  _  _  _  C  L  E  _  E  I  _  _',
            '  _  _  _  K  A  A  _  D  G  _  _',
            '  _  _  _  _  C  R  _  _  H  _  _',
            '  _  _  _  _  E  S  _  _  T  _  _']
    })
    +statement 
      | 2. Find the missing words. 
    .progress-box
      .score-box
      .row
        .col-md-8
          .xwordscontent
          .clearfix
        .col-md-4
          .row
            .col-xs-12
              pre.
                1. I am the .... of my soul
                2. ... as the pit from pole to pole
                3. Beyond this ... of wrath and tears
                4. Beyond this place of wrath and ...
                5. I have not winced nor ... aloud
                6. Out of the ... that covers me