+title("Compound interest")
.header.full
  p Compound interest
div
  strong Compound interest 
  | is interest added to the principal of a deposit or loan so that the added interest also earns interest from then on. This addition of interest to the principal is called compounding. A bank account, for example, may have its interest compounded every year: in this case, an account with $1000 initial principal and 20% interest per year would have a balance of $1200 at the end of the first year, $1440 at the end of the second year, $1728 at the end of the third year, and so on.
+img("img/compound_interest.png")
p Compound interest may be contrasted with simple interest, where interest is not added to the principal (there is no compounding). Compound interest is standard in finance and economics, and simple interest is used infrequently (although certain financial products may contain elements of simple interest).
