+title("Rosetta's Philae Probe Lands on Comet")
.header.full
  p Rosetta's Philae Probe Lands on Comet
p The confirmation was relayed via the Rosetta orbiter to Earth and picked up simultaneously by ESA's ground station in Malarguee, Argentina and NASA's station in Madrid, Spain. The signal was immediately confirmed at ESA's Space Operations Centre, ESOC, in Darmstadt, and DLR's Lander Control Centre in Cologne, both in Germany.

p The first data from the lander's instruments were transmitted to the Philae Science, Operations and Navigation Centre at France's CNES space agency in Toulouse.
blockquote "Our ambitious Rosetta mission has secured a place in the history books: not only is it the first to rendezvous with and orbit a comet, but it is now also the first to deliver a lander to a comet's surface," noted Jean-Jacques Dordain, ESA's Director General.
p Philae's parting image of Rosetta, taken shortly after separation Philae's parting image of Rosetta, taken shortly after separation
.row
  .col-sm-6
    blockquote "With Rosetta we are opening a door to the origin of planet Earth and fostering a better understanding of our future. ESA and its Rosetta mission partners have achieved something extraordinary today."
    blockquote "After more than 10 years travelling through space, we're now making the best ever scientific analysis of one of the oldest remnants of our Solar System," said Alvaro Gimenez, ESA's Director of Science and Robotic Exploration.
  .col-sm-6
    +lightbox("img/rosetta.jpg")
    .small-text 
      em Philae’s parting image of Rosetta, taken shortly after separation
p Touchdown was planned to take place at a speed of around 1 m/s, with the three-legged landing gear absorbing the impact to prevent rebound, and an ice screw in each foot driving into the surface.
+img("img/Philae_touchdown.jpg")
p But during the final health checks of the lander before separation, a problem was detected with the small thruster on top that was designed to counteract the recoil of the harpoons to push the lander down onto the surface. The conditions of landing - including whether or not the thruster performed - along with the exact location of Philae on the comet are being analysed.
p The first images from the surface are being downlinked to Earth and should be available within a few hours of touchdown.
+youtube("fHzvl3QVyhg")