+title('Learn Forward Presentation')
+subtitle('Introduction')

h1 Introduction [Barrie]
:markdown
  Hello,

  [Barrie presents himself]

  We’ll now be using the technology which these two guys are pitching here today. So go to this address using your laptop, tablet or smartphone. Use WiFi or your data connection, whatever gets you on-line.

  In the meantime, they are Paul and Cristian, co-founders of Learn Forward. They hail from Romania, [have 20 years publishing and tecnoogy experience]where they started the Learn Forward platform and they’ve now moved their business to London in order to develop it further. They’ve kept a team in Romania as well, where their business generated more than £100k revenue last year.

