+title('What\'s the issue')
.header.full
  p The Problem

.question Latin Schoolbook, 15th century
p
  +img('img/ars-minor.jpg')

.question Maths Textbook, 2015
p 
  +img('img/today-textbook.jpg')

//- .container-fluid
//-   .row
//-     .col-sm-3.col-xs-6
//-       img.img-circle(src='img/spacewalk.jpg')
//-     .col-sm-3.col-xs-6
//-       img.img-circle(src='img/dna.jpg')
//-     .col-sm-3.col-xs-6
//-       img.img-circle(src='img/lhc.jpg')
//-     .col-sm-3.col-xs-6
//-       img.img-circle.textbooks(src='img/textbooks.jpg')

//- .question What is wrong with textbooks today?

//- .row.margin-top
//-   .col-sm-6
//-     +img('img/free-textbooks.jpg')
//-   .col-sm-6
//-     p.not 
//-       i.fa.fa-times 
//-       |  interactive
//-     p.not 
//-       i.fa.fa-times 
//-       |  collaborative
//-     p.not 
//-       i.fa.fa-times 
//-       |  adaptive

.teacher-unvisible
  :markdown
    01:02 [+01:02]
    
    Good morning! Let me start by clicking this button [lock screen]. That way, all our devices will synchronise and the page I am displaying here will also be displaying in your browser.  

    Now that the tech setup is out of the way (it took 5 seconds), we can focus on the important issue: **what is wrong with textbooks today**? After all, publishers print them, schools buy them, and it’s the same story it was 30 years ago, when we were in school. There’s a global market of 20bn pounds out there, largely based on producing and selling lovely artefacts of ink and paper. It's survived by increasing prices and diversifying its portfolio, all within the same paradigm.

    In the meantime, we’ve entered the 21st century, the exciting age of space travel, widespread internet, genetic manipulation, the Large Hadron Collider. And our good old paper textbooks suddenly feel *inert*: they no longer represent an engaging way to absorb knowledge.

    They are neither *interactive*. Nor *collaborative*. Nor *adaptive*. Their content is locked. If you’re a teacher, you can’t personalise, amend or enrich their content.
