+title('Locked Content')

.colored-box.full.teal

  .container-fluid
    .question 
      i.fa.fa-file-text-o 
      |  
      i.fa.fa-file-pdf-o
    .question Content is 
      span.underline Locked
    //- .row
    //-   .col-sm-6.col-sm-offset-3
    //-     +img('img/chart-10.png')
