+title('What\'s the issue')
//- .header.full
//-   p The Problem


.colored-box.full.blue

  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        .question Only 
          span.orange 10% 
          | of UK teachers use textbooks!
    .row
      .col-sm-6.col-sm-offset-3
        +img('img/chart-10.png')

  //- .question What are the other 
  //-   span.green 90% 
  //-   |  doing?
  //- .scissors
  //-   +img('img/icon-cut.png')

.teacher-unvisible
  :markdown
    These are some of the reasons behind a staggering statistic: *only 10% of UK teachers actually use textbooks in their daily teaching*. What are the other 90% doing?

    They hack content together: they only use the "official" textbook as a backbone and mix its content with other "un-official" textbooks, online resources, teacher-generated materials - or they simply write something of their own. 
