+title('Solution: Textbooks as a Service')
//- .header.full
//-   p The Solution

.colored-box.full.orange

  .container-fluid(style="text-align: center;")
    .question.box TaaS
    .question Textbooks as a 
      span.strikethrough Product
      |  Service
//- .container-fluid
//-   .row
//-     .col-sm-6
//-       +img('img/oup-science.png')
//-     .col-sm-6
//-       +img('img/eton.png')


//-   .row.margin-top
//-     .col-sm-8.col-sm-offset-3
//-       .row.vertical-align
//-         .col-xs-3
//-           +img('img/icon-interactive.png')
//-         .col-xs-9
//-           p.cool 
//-             i.fa.fa-check 
//-             |  interactive

//-       .row.vertical-align
//-         .col-xs-3
//-           +img('img/icon-collaborative.png')
//-         .col-xs-9
//-           p.cool 
//-             i.fa.fa-check 
//-             |  collaborative
//-       .row.vertical-align
//-         .col-xs-3
//-           +img('img/icon-adaptive.png')
//-         .col-xs-9
//-           p.cool 
//-             i.fa.fa-check 
//-             |  adaptive

.teacher-unvisible
  :markdown
    01:25 [+ 00:23]
    
    Textbooks today are technologically obsolete and their usage is in decline. The solution is to stop thinking of textbooks as products and instead start thinking of them as services. *Textbooks as a Service*: this is where we come in.

    We have built a unique technology that enables publishers to create and deliver textbooks which are precisely that: *interactive*, *adaptive* and *collaborative*. 
    
    -Interactive | keeps learners engaged
    -Adaptive    | makes the content in-line with teachers' expectations
    -Collaborative | assessments and learning become social experiences

    I'll now invite Cristian Dinu, co-founder and CTO to show you how it works. 
