+title('Solution: Content as a Service')
//- .header.full
//-   p The Solution

.colored-box.full.orange

  .container-fluid(style="text-align: center;")
    .question.box CaaS
    .question Content as a 
      span.strikethrough Product
      |  Service
