+title('Solution: Textbooks as a Service')

:markdown
  # We’ve created a solution - textbooks as a service 
  
  01:25 [+ 00:23]
  
  Textbooks today are technologically obsolete and their usage is in decline. The solution is to stop thinking of textbooks as products and instead start thinking of them as services. *Textbooks as a Service*: this is where we come in.

  We have built a unique technology that enables publishers to create and deliver textbooks which are precisely that: *interactive*, *adaptive* and *collaborative*. 
  
  -Interactive | keeps learners engaged
  -Adaptive    | makes the content in-line with teachers' expectations
  -Collaborative | assessments and learning become social experiences

  I'll now invite Cristian Dinu, co-founder and CTO to show you how it works. 
