+title('Interactive')

.row.adaptive-container
  .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.content-editor-ready.padding-1em
    .header.full
      p Interactive.

    center
      p
        strong Drag and drop

      p Place the following words to put them in the right order:

      +drag-and-sort({name: 'ee3-demo-interactive-1', scoreBox: true, ignoreAvatar: false,
        firstTimeDoneMessage: 'Wow, perfect!',
        doneMessage: 'Congrats! Again!'
      })
        .item(data-index=3) unlocked!
        .item(data-index=1) Content
        .item(data-index=2) is

    p.center
      strong Choices

    +exercise
      +statement
        | Please be so kind and answer the following questions
        br
      .panel-body
        .row
          .col-md-6
           +yesno({answer: false, name:'ex01basicsYN1'})
              | Is 100 a negative number?
          .col-md-6
            +pickone(3, ['planet', 'star', 'satellite', 'commet'])
              | The Moon, is a <br/>
    p.center
      strong Selectors

    +exercise({name: 'Ch03Ex01B'})
      +statement
        p Please tap or click on the even numbers below:
        .score-box
        .progress-box
      +select-to-highlight
        .btn-group
          button.btn.btn-default.good 2232
          button.btn.btn-default.bad 7787
          button.btn.btn-default.bad 10123
          button.btn.btn-default.good 20

    p.center
      strong Crosswords

    +crosswords({
      name: 'help11-1',
      hideNumbers: false,
      ignoreAvatar: false,
      words: //  1  2  3  4  5  6  7  8  9  0  1  2
             ['  _  _  _  _  _ 1N  _2>K  _  _  _  _',  //  1
              '  _  _  _  _ 3P >A  M  U  K  _  _  _',  //  2
              '  _  _  _  _  _  U  _  N  _  _  _  _',  //  3
              '  _  _  _  _  _  M  _  D  _  _  _  _',  //  4
              '  _  _  _  _  _  _  _  E  _  _  _  _',  //  5
              '  _  _  _  _  _  _  _  R  _  _  _  _',  //  6
              '  _  _  _  _4>M  U  R  A  K  A  M  I',  //  7
              '  _  _  _  _  E  _  _  _  _  _  _  _',  //  8
              '  _  _ 5S  A >L  I  N  G  E  R  _  _',  //  9
              '  _  _  _  _  V  _  _  _  _  _  _  _',  //  10
              '  _  _ 6A  S  I  M  O  V  _ 7C  _  _',  //  11
              '  _  _  _  _  L  _  _  _  _  L  _  _',  //  12
              ' 8G  O  G  O  L  _  _  _  _  A  _  _',  //  13
              '  _  _  _  _9>E  X  U  P  E  R  Y  _',  //  14
              '  _  _  _  _  _  _  _  _  _  K  _  _',  //  15
              '  _  _  _  _  _  _  _  _  _  E  _  _']  //  16
    })
      .progress-box
      .score-box
      .row
        .thegrid
          .xwordscontent
          .clearfix
        .thelegend.well.sans
          strong Writer Names Puzzle
          br
          span Definitions

          .row
            .col-xs-12
              pre.
                Across:

                3. Orhan ...
                4. Haruki ...
                5. J.D. ...
                6. Isac ...
                8. N.V. ...
                9. Antoine de Saint-....
            .col-xs-12
              pre.
                Down:
                1. Gellu ...
                2. Milan ...
                4. Herman ...
                7. Arthur C. ....

    +exercise({name: 'ex7splitter'})
      +split-in-syllables({
        name: 'split-in-syllables-1',
        separator: '·', // or any html code. Undefined or falsy for '-'
        word: 'sy||l^^l||a^^b||le',
      })
        .score-box
        .progress-box
        .is-done-box
        .preview
          | Your result:
          span.result
    br
    br
