+title('Collaborative')

.row.adaptive-container
  .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.content-editor-ready.padding-1em
    .header.full
      p Collaborative

    p
      strong Can a teacher interact with students?


    center
      +pickone(2, ['products', 'services', 'sandwiches'], {
        name: 'ee3-demo-collaborative-X',
        ignoreAvatar:false,
        hints: {
          1: 'Haha, no!',
          2: 'No, no, no! :)'
        },
        firstTimeDoneMessage: 'Indeed! Services.',
        doneMessage: 'Good job! Again. :)'
      })
        | What should textbooks become instead of products/artefacts?
        br

    p
      strong Can their text appear on the screen?


    +textline({name: 'ee3-demo-collaborative-2', type: 'text', max: 10,
      size: 10, regexp: /^\s*\w\w\w+\s*$/,
      placeholder: 'type here...', ignoreAvatar:false,
      firstTimeDoneMessage: 'Thanks for sharing!',
      })
        p Where were you born?
        span.inline-block.input
        span.inline-block.is-done-box
    p &nbsp;
