+title('Adaptive')

.row.adaptive-container
  .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.content-editor-ready.padding-1em
    .header.full
      p Adaptive

    p No matter how good a textbook is, it cannot cover all the situations and classes where it is used.

    p All teachers do adapt the content for their classrooms, now they can do it very easilty. They want dynamic content and real time services.

    div(style='color:white; user-select:text; -webkit-user-select:text').
      Learn Forward is platform that contains the tools and the services to build **engaging textbooks** as a service, which is:

      * Dynamic
      * Collaborative
      * Adaptable