+title('Services')
.colored-box.full.light-blue
  .question Working together<br />
    span.smallish conversion services for smart textbooks <br />
    span.smallish early interest to become supplier of digital content
