+title('Traction and Customers')
.header.full
  p Traction

.question Publishers: &pound; 20bn 
  img.img-responsive(src='img/blank-printable-world-map-circles.jpg')
//- +drawingpad({name: 'map1', primaryColor: '#F33', backgroundImage: 'img/blank-printable-world-map.jpg'})
.container-fluid
  .row.row-box
    .col-sm-6
      h2 Pilot Projects - UK
    .col-sm-6
      +img('img/oup-eton.jpg')
  .row.row-box
    .col-sm-6
      h2 Paying Customers 
      p (&pound; 100k) - Romania
    .col-sm-6
      +img('img/romania.jpg')
  .row.row-box
    .col-sm-6
      h2 Downloads 10x
      p for the unsupported <br />open-source version 
      p Total: 40.000
    .col-sm-6
      .margin-top
        +img('img/graph-month.jpg')
        +img('img/graph.jpg')


.teacher-visible
  :markdown
    # Who do we target and what’s been our traction so far?
    
    04:03 [+00:23]
    
    Thank you Dinu. You will get the chance to keep on playing with our software after the presentation. Now, for the commercial angle it's time to consider: *traction* and *customers*.

    We first reached out to publishers: a huge 20b market and we already have:

    1. within the UK: big pilot projects with OUP and Eton College and we are seeing increased interest from other big educational publishers
    2. within the Romanian market: paying publishers - 100k in 2014
    3. smaller publishers are downloading and using the unsupported open source version and these are the metrics: 
    
    [show graph - 40.000 copies, 40x increase 2015 over 2014]
