+title('Traction and Customers')

:markdown
  # Who do we target and what’s been our traction so far?
  
  04:03 [+00:23]
  
  Thank you Dinu. You will get the chance to keep on playing with our software after the presentation. Now, for the commercial angle it's time to consider: *traction* and *customers*.

  We first reached out to publishers: a huge 20b market and we already have:

  1. within the UK: big pilot projects with OUP and Eton College and we are seeing increased interest from other big educational publishers
  2. within the Romanian market: paying publishers - 100k in 2014
  3. smaller publishers are downloading and using the unsupported open source version and these are the metrics: 
  
  [show graph - 40.000 copies, 40x increase 2015 over 2014]
