+title('Business Model')
.header.full
  p Business Model

.teacher-visible
  :markdown
    # How do we make money from this traction?

    04:13 [+ 00:10]

    1. tier 1: free and no support (for the open source version)
    2. tier 2: enterprise licenses / subscription 
