+title('Business Model')
.header.full
  p Business Model

.row
  .col-md-6
    .tier-box
      p.tier Tier 1
      p.text free and no support (for the open source version)
  .col-md-6
    .tier-box.tier2
      p.tier Tier 2
      p.text 
        strong enterprise licenses / subscription 
