+title('Bigger Vision')
.colored-box.full.brown
  //- .container-fluid
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        .question Next: <br />Platform for digital lesson planning
        +img('img/future-3.png')
