+title('Bigger Vision')
.header.full
  p Future

.question Today - publishers
.container-fluid
  .row
    .col-sm-5
      +img('img/future-1.jpg')
    .col-sm-2
      h1.center to
    .col-sm-5
      +img('img/future-2.jpg')

.question Tomorrow - teachers
.container-fluid
  .row
    .col-sm-8.col-sm-offset-2
      +img('img/future-3.jpg')

.teacher-visible
  :markdown
    # Bigger vision
    
    04:39 [+00:26]

    1. We think this strategy of creating and delivering textbooks as services can help build an incredible business. The publishing market is valued at £20bn and our software is able to reverse the trend of textbooks losing their relevance. Because remember: for the first time in history, only 10% of teachers use textbooks!
    2. We are not going to stop there. The next step for us is to bring together all the content which teachers (61m worldwide) co-create using our platform and open it up to the marketplace in the years to come. We think this is an even bigger growth opportunity. 
