+title('Investment')
.header.full
  p Investment

//- h1 Exercise
.question True love?
+pickone(5, ["5,000", "10,000", "50,000", "100,000","350,000"], {
  name: 'ee3-demo-investors-buttons',
  btnSuccess: 'btn-primary', 
  btnDanger: 'btn-primary',
  popup: false,
  buttonStyles: 'btn-default',
  ignoreAvatar: false,
  irritationLevel: 5000
})
  .center
    p How much would you invest?
    .row
      .pickone-buttons
