+title('Investment')
.header.full
  p Investment

.question 
  | Raising 
  .inline 350k 
  |  for 
  .inline 15%

.container-fluid
  .row
    .col-sm-6.col-sm-offset-3
      h3.center Goals (18 mo):
      ul
        li research & development
        li build web platform
        li launch commercial partnerships
        li prepare for a Series A later next year

.teacher-visible
  :markdown
    # Raising 350k
    
    05:08 [+ 00:28]

    We are raising a seed round of 350k for 15% of the company that will fund our progress over the next 18 months. We will use these 350k for further research and development, to build a platform that hosts digital textbooks and the toolsets for teachers, and to launch commercial partnerships with interested publishers and schools. We'll grow and prepare to meet the needs of a Series A later next year. 

    Our time is up, these are our contact details. We also have a regular deck which is available on request. If you liked our company we have some buttons prepared for investors: here they are.  
    
    [ + “invest” buttons with value: 5.000 / 10.000 / 25.000 / 50.000 / 100.000 / 350.000]
    
    Thank you for your attention!
