+title('Interactive')

.header.full
  p Interactive.

center
  p Drag and drop the following words to put them in the right order:

  +drag-and-sort({name: 'ee3-demo-interactive-1', scoreBox: true})
    .item(data-index=3) unlocked!
    .item(data-index=1) Content
    .item(data-index=2) is

