+title('Interactive')

.header.full
  p Interactive.

center
  +drag-and-sort({name: 'ee3-demo-interactive-1', scoreBox: true})
    .item(data-index=3) unlocked!
    .item(data-index=1) Content
    .item(data-index=2) is

