+title('Collaborative')

.header.full
  p Collaborative


+textline({name: 'ee3-demo-collaborative-1', type: 'text', max: 10,
  size: 10, regexp: /^\s*[s|S][e|E][r|R][v|V][i|I][c|C][e|E][s|S]\s*$/,
  placeholder: 'type here...', ignoreAvatar:false})
    p Textbooks are better as
      span.inline-block.input
      | as opposed to products.
      span.inline-block.is-done-box


