.ee3-demo-interactive-1
  display: inline-block;
  
  .item
    display: inline-block;
    width: 150px;
    margin: 0 10px 10px 0;
    padding: 8px;

    font-size: 30px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  .item-not-in-place
    background-color: #fbb03b;
    color: black;

  .item-in-place
    background-color: #8cc63f;
    clor: white;


.ee3-demo-collaborative-1
  font-size: 30px
  .input
    margin: 0 0.6em;

// FIXME: Refactor this!
#romanian-header
  background: url('img/bg/timisoara-decembrie-1989.jpg') no-repeat
  background-size: cover
  min-height: 30vh
  display: flex
  align-items: center
  justify-content: center
  .question
    color: white


.ee3-demo-romanian-revolution
  .pickone-button-item
    font-size: 1.2em;
    margin: 0 10px 20px 10px
    padding 10px 1.5em

.ee3-demo-romanian-revolution-city
  .input
    margin-left: 1em;