#romanian-header
  background: url('img/bg/timisoara-decembrie-1989.jpg') no-repeat
  background-size: cover
  min-height: 30vh
  display: flex
  align-items: center
  justify-content: center
  .question
    color: white


.ee3-demo-romanian-revolution
  .pickone-button-item
    font-size: 1.2em;
    margin: 0 10px 20px 10px
    padding 10px 1.5em
    
.ee3-demo-romanian-revolution-city
  .input
    margin-left: 1em;