.padding-1em
  padding: 1em;

.ee3-demo-interactive-1
  display: inline-block;

  .item
    display: inline-block;
    width: 150px;
    margin: 0 10px 10px 0;
    padding: 8px;

    font-size: 30px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    &.item-not-in-place
      background-color: #fbb03b;
      color: black;

    &.item-in-place
      background-color: #8cc63f;
      clor: white;


.ee3-demo-collaborative-1,
.ee3-demo-collaborative-2
  display: inline-block;
  font-size: 30px;
  p
    margin 10px 0;
  .input
    margin: 0 0.6em;
    
.adaptive-container
  background-color: red;
  
  .content-editor-ready
    background-color: white;
    
    p, li
      font-size: 110%;