#textbook
  .text-poem
    div
      font-family: 'Source Serif Pro'
      text-align: left
  .sequence
    margin-bottom: 1em
  .small-text
    font-size: .8em
  div 
    text-align: justify
  p.ch01s03sample, p.ch01s02sample
    input
      width: 2.8em
      text-align: center
  .compound
    table
      width: 100
      text-align: center
      font-size: 0.8em
      line-height: 1.2em
      thead
        th, td
          color: white
          background-color: #39b8bb
          padding .5em
          border 1px solid white
          border-top: 0
          font-weight: 300
          text-align: center
          &:first-child
            border-left: 0
          &:last-child
            border-right: 0
          div:first-child
            padding: .3em
      tbody
        tr:nth-child(odd)
          background-color: white
        tr:nth-child(even)
          background-color: rgb(178,225,227)
        tr td:first-child
          width: 25%
        tr td:not(:last-child)
          border-right: 1px solid white
        td, th
          color: black
          padding .5em
      &.stacktable
        width: 100%
        .st-head-row.st-head-row-main
          padding-top: 1em
        tbody
          th
            background-color: #39b8bb
            color: white
            font-weight: 400
            border-bottom: 2px solid #f0f0f0
          td
            border-bottom: 1px solid rgb(178,225,227)
          tr
            background-color: white
            border: 0px
  .comment-on-done
    display: none

  .done > .comment-on-done
    display: inline
    p
      margin: 1em
      padding: 0.6em
      border-radius: 0.4em
      background: #ffffdd
      font-size: 95%
  .ee3-demo-romanian-revolution8
    button:focus, button:active
      outline: 0 !important
