@import _avatar

body
  user-select: none

// Cover page

.cover-page
  .name-input
    text-align: center;
  .classroom-client
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 1em;
    display: inline-block;
    padding-right: 10px
    max-width: 250px;
    text-overflow: ellipsis;

    color: #006100;
    .away-label, .teacher-label
      display: none;

    &.classroom-client-away
      color: #ff6600;

// Exercises

.ee3-demo-romanian-revolution
  button:focus, button:active
    outline: 0 !important;


