@import _avatar
// colors
highlight = #f60
orange = #fbb03b
green = #8cc63f

body
  user-select: none
  background-image: url('img/green-fibers.png')

#modal-full-screen
  background-color: #fff !important

.menu-item:hover
  background-color: green

// Cover page
#textbook
  background: rgba(255,255,255,1)

#home-cover
  background: url('img/bg/14625076141_d0f2e43579_b.jpg') #b2bcb1 no-repeat
  background-size: cover
  // background-position: right top 
  min-height: 100vh
  .goto
    // display: block
    text-align: center
    padding-top: 1em
    padding-bottom: 1.5em
    color: white
    background: black
    p
      font-size: 2.5em
      display: inline-block
      border-bottom: 2px dashed white
      margin: 0
      padding: 0

  .cover-page
    padding: 1em;
    #name-input
      // text-align: center;
      margin-left: -0.7em;
      input 
        padding-left: 0.3em
        font-size: 1.8em
        background: white
        color: black
        border: 1px dashed #ccc
        &:hover
          border: 1px solid orange
    .small
      margin-left: 0px
      padding-left: 0px

    .classroom-client
      font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
      font-size: 0.8em;
      display: inline-block;
      padding: 10px
      margin: 0.2em
      width: auto;
      text-overflow: ellipsis;
      border: 1px solid #ccc;

      color: #006100;
      // .away-label, .teacher-label
        // display: none;

      &.classroom-client-away
        color: #ff6600;
        
      .ring-bell
        padding-left: .5em
        padding-right: .5em
        margin: 0
        &:hover
          color: orange
    .devices, .screens
      i
        display: inline-block
        margin: 0.5em 0.5em 0 0.5em
        font-size: 2em

.header
  // background: black
  display: block
  padding: 1em
  text-align: center
  margin-bottom: 2em
  p
    display: inline-block
    font-size: 1.5em
    border: 1px solid black
    border-left: 5px solid green
    padding: .5em
    margin: 0em
    text-align: right
    
// Exercises

.ee3-demo-romanian-revolution
  button:focus, button:active
    outline: 0 !important;

.question
  font-size: 2em
  text-align: center
  margin-top: 1em
  margin-bottom: 1em

.img-circle
  border: 5px solid green
  &.textbooks
    border: 5px solid orange

.not
  color: black
  font-size: 1.5em
  .fa
    color: orange

.cool
  color: black
  font-size: 1.5em
  .fa
    color: green
  

.margin-top
  margin-top: 2em

.orange
  color: orange
.green
  color: green

.vertical-align
  display: flex
  align-items: center

#romanian-header
  background: url('img/bg/timisoara-decembrie-1989.jpg') no-repeat
  background-size: cover
  min-height: 30vh
  display: flex
  align-items: center
  justify-content: center
  .question
    color: white

.scissors
  display: flex
  align-items: center
  justify-content: center
  img
    max-width: 200px
    max-height: 200px
    
#laptop-works
  ul
    margin-top: 1em

.row-box
  border: 1px solid black
  margin-bottom: 1em
  
.tier-box
  border: 1px dashed black
  margin-bottom: 1em
  padding: 0.8em
  text-align: center
  &.tier2
    border: 1px solid black
  p 
    padding: 0
    margin: 0
    &.tier
      font-size: 1em
    &.text
      font-size: 1em
.center
  text-align: center

.inline
  display: inline-block
  border: 1px dashed black
  padding: 0.3em

.teacher-unvisible
  display: none
