+title('Learn Forward')
+subtitle('Cover')

h1 Learn Forward

#name-input

#student-list Please wait...

+exercise
  .progress-box

  +pickone(3, ["1965", "1979", "1989", "1991"], {
    name: 'ee3-demo-romanian-revolution',
    popup: false,
    irritationLevel: 5,
    buttonStyles: 'col-xs-12 col-sm-3 col-md-3 col-lg-3',
    hints: {
      1: 'It is the same year as the fall of the Berlin Wall',
      3: 'It was abut 30 years ago...'
    },
  })
    p When did the Romanian revolution take place?
      | 
      span.is-done-box
    .row
      .pickone-buttons

  +pickone(2, ["1965", "1979", "1989", "1993"], {
    name: 'ee3-demo-iranian-revolution',
    popup: false,
    irritationLevel: 5,
    buttonStyles: 'col-xs-12 col-sm-3 col-md-3 col-lg-3',
    hints: {
      1: 'Try harder',
      3: 'About 10 years before the Romanian revolution'
    },
  })
    p When did the Iranian revolution take place? 
      | 
      span.is-done-box
    .row
      .pickone-buttons